:root
    --color: #fff
    --colorx: #eee
    --color-ui: #03a9f4
    --color-uix: #5b5ef3
    --color-lg-ui: linear-gradient(to right, var(--color-ui), var(--color-uix))
    --sh: 1px 2px 18px rgb(0 0 0 / 10%)
html
    a
        color: var(--color-ui)
        text-decoration: none
    body
        padding: 0
        margin: 0
        line-height: 1.6
        font-size: 18px
        direction: rtl
        font-family: "myFirstFont", sans-serif !important
        background-color: #eee

@font-face
    font-family: myFirstFont
    src: url(/fonts/Droid.Arabic.Kufi.ttf)

*
    box-sizing: border-box

nav
    top: 0
    position: fixed
    background-color: var(--color )
    width: -webkit-fill-available
    padding: 10px 20px
    box-shadow: var(--sh)
    header
        padding: 0 1.5rem
        max-width: 800px
        margin: auto
        transition: height 0.3s ease
        align-items: center
    ul
        display: flex
        flex-direction: row
        align-items: center
        list-style-type: none
        padding: 0
        margin: 0
        justify-content: center
        width: max-content
        li
            margin: 10px
main
    margin-top: 120px
    .hero
        background-image: linear-gradient(360deg, var(--colorx), #c7e1ff, var(--colorx) )
        h1
            font-size: 3rem
    .cards
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        h2
            width: 100%
            margin: 10px 30px
            text-align: center
        .card
            display: flex
            flex-direction: column
            justify-content: space-between
            width: 300px
            height: max-content
            margin: 10px
            border: 1px solid #ddd
            background-color: var(--color)
            border-radius: 10px
            box-shadow: var(--sh)
            img
                border-radius: 10px
                height: 100%
            p
                padding: 10px
                padding-bottom: 0
                margin: 0
            small
                padding: 10px
article
    max-width: 700px
    margin: 10px auto
    padding: 10px
    background-color: var(--color)
    border-radius: 10px

    em code
        padding: 10px
    code
        background-color: var(--colorx)
        padding: 5px
        border-radius: 10px
        font-size: small
    img
        width: -webkit-fill-available
        height: max-content

footer
    display: flex
    box-shadow: var(--sh)
    background-image: linear-gradient(90deg, var(--color-ui), var(--color-uix))
    color: var(--color)
    padding-top: 20px
    height: max-content
    margin: 10px
    border-radius: 10px
    flex-direction: column
    .list
        display: flex
        flex-direction: column
        align-items: flex-start
        width: 300px
        margin: 10px
        b
            margin-bottom: 20px
    .logo
        display: flex
        flex-direction: column
        align-items: flex-start
        width: 300px
        background-color: var(--color)
        border-radius: 10px
        margin: 10px
        &-text
            font-size: xxx-large
            justify-content: center
            flex-direction: row
            display: flex
            margin: 0 auto
            padding: 1rem
        &-footer
            align-items: center
            justify-content: center
            flex-direction: row
            display: flex
            color: var(--color-ui)
            margin: 0 auto
            a
                color: var(--color-ui)
    .\@
        padding: 10px
        text-align: center
        margin: 10px
        box-shadow: var(--sh)
        border-radius: 10px
        border: 3px solid var(--color)

    a
        color: var(--color)
        padding: 5px 0
@media only screen and  (max-width: 500px  )
    header
        display: flex
        flex-direction: column
@media only screen and  (min-width: 500px  )
    header
        display: flex
        flex-direction: row
        justify-content: space-between

.btn
    border-radius: 10px
    background-color: var(--color-ui)
    color: var(--color)
    padding: 10px
    margin: 10px
    width: max-content
    background-image: var(--color-lg-ui)
.text-Ui
    color: transparent
    background-image: var(--color-lg-ui)
    -webkit-background-clip: text

svg
    fill: var(--color-ui)
    padding: 5px
    width: 32px
    path
        stroke: var(--color-ui)
.icon-home
    svg
        width: 50px
        height: 50px
