html
    a
        color: #0070f3
        text-decoration: none
nav
    top: 0
    position: fixed
    background-color: #fff
    width: -webkit-fill-available
    padding: 10px 20px
    box-shadow: 1px 2px 18px rgb(0 0 0 / 10%)
    header
        padding: 0 1.5rem
        max-width: 800px
        margin: auto
        transition: height 0.3s ease
        align-items: center
    ul
        display: flex
        flex-direction: row
        align-items: center
        list-style-type: none
        padding: 0
        margin: 0
        justify-content: center
        li
            margin: 10px
main
    margin-top: 120px
    .cards
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        .card
            display: flex
            flex-direction: column
            justify-content: space-between
            width: 300px
            height: max-content
            margin: 10px
            border: 1px solid #ddd
            border-radius: 10px
            box-shadow: 1px 2px 18px rgb(0 0 0 / 10%)
            img
                border-radius: 10px
            p
                padding: 10px
                padding-bottom: 0
                margin: 0
            small
                padding: 10px
article
    max-width: 700px
    margin: 0 auto
    padding: 10px
    em code
        padding: 10px
    code
        background-color: #dde
        padding: 5px
        border-radius: 10px
        font-size: small
footer
    display: flex
    height: max-content 
    align-items: flex-start;
    justify-content: space-around 
    padding-top: 20px
    box-shadow: -1px -2px 18px rgb(0 0 0 / 10%)
    a
        padding: 5px 0
@media only screen and  (max-width: 500px  )
    header
        display: flex
        flex-direction: column
@media only screen and  (min-width: 500px  )
    header
        display: flex
        flex-direction: row
        justify-content: space-between
